[submodule "pack/rswplugins/start/vim-colorschemes"]
	path = pack/rswplugins/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/rswplugins/start/ctrlp.vim"]
	path = pack/rswplugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/rswplugins/start/tagbar"]
	path = pack/rswplugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/rswplugins/start/nerdtree"]
	path = pack/rswplugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/rswplugins/start/vim-fugitive"]
	path = pack/rswplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/rswplugins/start/vim-surround"]
	path = pack/rswplugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/rswplugins/start/bufkill.vim"]
	path = pack/rswplugins/start/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "pack/rswplugins/start/YankRing.vim"]
	path = pack/rswplugins/start/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
